<html>
    <head>
        <title>Backbone.Component: basic test</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.1.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>








<script type="text/template" id="account-template">

<div class="AccountPanel">
  <div class="row header">
    <a id="logo" href="">
      <img src="<%- logoImg %>">
      <span class="logo-text"><%- logoText %></span>
    </a>
  </div>
<!--LOGIN -->
<form id="login" name="user" >
  <div class="row group">
      <input type="email" name="inp-email"><span class="highlight"></span><span class="bar"></span>
        <label class="placeHold">Email</label>
  </div>
  <div class="row group">
    <input type="password" name="inp-pwd"><span class="highlight"></span><span class="bar"></span>
    <label class="placeHold">Password</label>
  </div>
  <div class="row remember-login">
    <div class="remember">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="" />
    </div>
    <span id="remember">Remember me(For 30 days)</span>
  </div>

  <button id="login" type="button" class="row button buttonBlue">Login</button>
  <div class="row group">
    <a class="row forgot" href="#">Forgot password?</a>
    <a class="row register"href="#">Sign up now!</a>
  </div>




</form>
<!--EOF LOGIN -->
<!--REGISTER -->
<form id="register" name="user" >


  <div class="row group fname">
    <input type="text" name="inp-fname"><span class="highlight"></span><span class="bar"></span>
    <label class="placeHold">First Name</label>
  </div>

  <div class="row group lname">
      <input type="text" name="inp-lname"><span class="highlight"></span><span class="bar"></span>
      <label class="placeHold">Last Name</label>
  </div>
  <div class="row group uname">
      <input type="text" name="inp-uname"><span class="highlight"></span><span class="bar"></span>
      <label class="placeHold">Username</label>
  </div>
  <div class="row group">
    <input type="email" name="inp-email"><span class="highlight"></span><span class="bar"></span>
    <label class="placeHold">Email</label>
  </div>
   <div class="row group">
    <input type="text" name="inp-pwd"><span class="highlight"></span><span class="bar"></span>
    <label class="placeHold">password</label>
  </div>
  <button id="register" type="button" class="row button buttonBlue">Register</button>


  <div class="row group">
  <a class="row showLogin"href="#">Back to login!</a>
  </div>

</form>
<!--EOF REGISTER -->

<form id="reset" name="user" >

  <div class="reset-step-1">
    <div class="row group">
      <input type="email" name="inp-email"><span class="highlight"></span><span class="bar"></span>
      <label class="placeHold">Email</label>
    </div>

    <button id="sendEmail" type="button" class="row button buttonBlue">Send Password Reset</button>

  </div>
  <div class="reset-step-2">
  <div class="row group">
    <input type="text" name="inp-fname"><span class="highlight"></span><span class="bar"></span>
      <label class="placeHold">Enter token</label>
      </div>
    <button id="checkToken" type="button" class="row button buttonBlue">Veryfy token!</button>
  </div>
  <div class="reset-step-3">
    <div class="row group">
      <input type="password" name="inp-npwd"><span class="highlight"></span><span class="bar"></span>
      <label class="placeHold">New password</label>
    </div>

    <div class="row group">
      <input type="password" name="inp-vnpwd"><span class="highlight"></span><span class="bar"></span>
      <label class="placeHold">Veryfy new password</label>
    </div>
    <button id="resetPwd" type="button" class="row button buttonBlue">Reset password</button>
  </div>
  <div class="reset-success">
    <img src="{{=URL('static', 'css/green_check.svg')}}">
    <span>You have reset password successfully!</span>
  </div>
  <div class="row group">
  <a class="row showLogin"href="#">Back to login!</a>
  </div>

</form>
<!--EOF RESET-->
  <div class="row footer"><span>
    <p class="text-center"><%- footer %></p>
  </span></div>
</div>


</script>


<script src="./js/app.js"></script>
<style>
.registerPanel{
  display:none;
}
.fname{
  width:50%;
  }
  .lname{
  width:50%;
  }
</style>
    </head>

    <body>
      <div class="user accountPanel" id="view-1"></div>

    </body>
</html>